.textContainer {
  display: flex;
  gap: 50px;
  margin-bottom: 70px;
}

.titleInfo {
  margin-top: 46px;
}

.substrateButtonBackground {
  max-width: 1352px;
  margin-left: auto;
}

.substrateButtonContent {
  max-width: 1070px;
}
