.container {
  padding-top: 80px;
  padding-bottom: 80px;
}

.newsContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.moreButton {
  margin: 0 auto;
  margin-top: 30px;
}

.newsContainerSkeleton {
  padding-top: 24px;
  border-radius: 24px;
  background-color: var(--white);
  border-radius: 24px;
}

.skeletonContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px;
}
