.container {
  position: relative;
}

.titleContainer {
  margin-bottom: 100px;
}

.substrateButtonBackground {
  max-width: 1297px;
  justify-content: start;
  margin-left: auto;
}

.substrateButtonContent {
  max-width: 1125px;
}

.backgroundColor {
  top: -96px;
  z-index: -1;
  position: absolute;
  height: 958px;
  width: 100%;
  background-color: var(--whiteLight);
}
