.container {
  position: relative;
}

.titleContainer {
  margin-bottom: 100px;
}

.substrateButtonContainer {
  max-width: 1352px;
  padding-left: 58px;
  padding-right: 160px;
  margin-left: auto;
}

.backgroundColor {
  top: -96px;
  z-index: -1;
  position: absolute;
  height: 958px;
  width: 100%;
  background-color: var(--whiteLight);
}
