.container {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--greyLight);
}

.container2 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.contentContainer {
  display: grid;
  grid-template-columns: 1fr 440px;
  gap: 24px;
}

.image {
  position: relative;
  object-fit: contain;
  background-position: center;
  padding: 32px;
  border-radius: 24px;
  background-color: var(--white);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 32px;
  border-radius: 24px;
  background-color: var(--white);
  padding: 32px;
}

.topContainer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 2px;
}

.totalPrice {
  text-decoration: line-through;
}

.tableInfoContainer {
  display: flex;
  flex-direction: column;
  padding-top: 8px;
  padding-bottom: 8px;
  gap: 6px;
}

.tableTitle {
  margin-top: 8px;
}

.tableInfo {
  display: flex;
  justify-content: space-between;
}

.statusContainer {
  display: flex;
  gap: 8px;
}

.status {
  padding: 4px 10px;
  width: max-content;
  border-radius: 4px;
  background-color: var(--orangeWhite);
}

.statusGrey {
  padding: 4px 10px;
  width: max-content;
  border-radius: 4px;
  background-color: var(--greyLight);
}
.button {
  width: 100% !important;
  padding: 16px !important;
  margin: 0 !important;
  background-color: var(--greyWhite) !important;
  justify-content: center;
}

.buttonMain {
  width: 100% !important;
  padding: 16px !important;
  margin: 0 !important;
  margin-top: 16px !important;
  background-color: var(--greyDark) !important;
  justify-content: center;
}

.buttonMain:hover {
  background-color: rgba(58, 68, 101, 1) !important;
}

@media (max-width: 1200px) {
  .contentContainer {
    grid-template-columns: 1fr 0.8fr;
  }
}

@media (max-width: 840px) {
  .image {
    height: 55vw;
    min-height: 340px;
    padding: 16px;
  }
  .contentContainer {
    grid-template-columns: 1fr;
  }
  .content {
    padding: 20px;
  }
}
