.roomsContainer {
  display: flex;
  gap: 16px;
  align-items: center;
}

.roomsListContainer {
  display: flex;
  gap: 16px;
}

.roomCount {
  padding: 15px 22px;
  border-radius: 50%;
  border: 1px solid var(--grey);
}

.roomSelected {
  background-color: var(--orange);
  border: 1px solid var(--orange);
}

.inputTitle {
  margin-bottom: 40px;
}
