:root {
  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);
  --whiteLight: rgba(255, 249, 239, 1);
  --grey: rgba(162, 162, 162, 1);
  --greyLight: rgba(189, 181, 176, 1);
  --orange: rgba(255, 153, 0, 1);
  --brown: rgba(68, 29, 6, 1);
  --brownDark: rgba(43, 16, 1, 1);

  --light: 300;
  --regular: 400;
  --medium: 500;
  --semiBold: 600;
  --bold: 700;

  --xLarge: 72px;
  --large: 64px;
  --sLarge: 48px;
  --xMedium: 36px;
  --sMedium: 24px;
  --xSmall: 20px;
  --small: 18px;
  --sSmall: 16px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}

::-webkit-scrollbar {
  width: 0;
}

::-webkit-scrollbar-thumb {
  display: none;
}

body {
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
}

html,
body {
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input[type='range']::-ms-track {
  appearance: none;
  background: transparent;
  border: transparent;
}

input[type='range']::-moz-range-track {
  appearance: none;
  background: transparent;
  border: transparent;
}

input[type='range']::-webkit-slider-runnable-track {
  appearance: none;
  background: transparent;
  border: transparent;
}

input[type='range']::-ms-thumb {
  appearance: none;
  pointer-events: all;
  width: 16px;
  height: 16px;
  border-radius: 0px;
  border: 0 none;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

input[type='range']::-moz-range-thumb {
  appearance: none;
  pointer-events: all;
  width: 16px;
  height: 16px;
  border-radius: 0px;
  border: 0 none;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

input[type='range']::-webkit-slider-thumb {
  appearance: none;
  pointer-events: all;
  width: 16px;
  height: 16px;
  border-radius: 0px;
  border: 0 none;
  cursor: grab;

  &:active {
    cursor: grabbing;
  }
}

input::placeholder {
  color: black;
  opacity: 0.8;
}
button {
  cursor: pointer;
  background-color: transparent;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
