.container {
  display: flex;
  flex-direction: column;
  gap: 42px;
  width: 100%;
}

.valueTextContainer {
  transition: all 0.4s;
  display: grid;
  white-space: nowrap;
  align-items: center;
  grid-template-columns: 400px 1fr;
}

@media (max-width: 1230px) {
  .valueTextContainer {
    white-space: wrap;
    gap: 70px;
    grid-template-columns: 210px 1fr;
  }
}

@media (max-width: 1000px) {
  .valueTextContainer {
    gap: 40px;
  }
}

@media (max-width: 936px) {
  .valueTextContainer {
    white-space: wrap;
    gap: 8px;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 786px) {
  .valueTextContainer {
    gap: 20px;
    grid-template-columns: 1fr 170px;
  }
}

@media (max-width: 564px) {
  .valueTextContainer {
    grid-template-columns: 1fr 140px;
  }
}

@media (max-width: 420px) {
  .valueTextContainer {
    gap: 4px;
    grid-template-columns: 1fr;
  }
}
