.container {
  background-color: var(--greyLight);
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 20px;
  padding-right: 20px;
}

.recordContainer {
  display: flex;
  background-color: white;
  border-radius: 30px;
  padding-left: 0;
  padding-right: 0;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.title {
  margin-bottom: 16px;
}

.formContainer {
  padding: 32px;
  min-width: 392px;
}

.formButton {
  width: 100%;
  justify-content: center;
  margin: 0 !important;
  margin-top: 16px !important;
}

.image {
  width: 100%;
  object-fit: cover;
  position: relative;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
}

.customCheckbox {
  display: flex;
  align-items: center;
  gap: 12px;
}

.customCheckbox input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 18px;
  height: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
}

.customCheckbox input:checked {
  background-color: #2196f3;
  border-color: #2196f3;
}

.customCheckbox input:checked::after {
  content: '✔';
  display: block;
  text-align: center;
  color: white;
  font-size: 10px;
}

.approve {
  color: var(--orange);
}

@media (max-width: 870px) {
  .formContainer {
    min-width: 376px;
    padding: 24px;
  }
}

@media (max-width: 824px) {
  .image {
    display: none;
  }
  .formContainer {
    width: 100%;
    min-width: auto;
  }
}

@media (max-width: 500px) {
  .recordContainer {
    background-color: transparent;
  }
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  .formContainer {
    padding: 0;
  }
}
