.container {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.controlContainer {
  width: 100%;
  position: absolute;
}

.input {
  position: absolute;
  width: 100%;
  pointer-events: none;
  appearance: none;
  height: 100%;
  opacity: 0;
  z-index: 3;
  padding: 0;
}

.rail {
  position: absolute;
  width: 100%;
  top: 50%;
  height: 1px;
  background: var(--black);
}

.innerRail {
  position: absolute;
  height: 100%;
  background: var(--orange);
}

.control {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  background: var(--orange);
  top: 50%;
  margin-left: calc(16px / -2);
  transform: translate3d(0, -50%, 0);
  z-index: 2;
}

.inputVerticalLineLeft {
  position: absolute;
  left: 0px;
  top: -5px;
  width: 1px;
  height: 11px;
  background-color: var(--black);
}

.inputVerticalLineRight {
  position: absolute;
  right: 0;
  top: -5px;
  width: 1px;
  height: 11px;
  background-color: var(--black);
}

.textRange {
  font-size: 14px;
  font-weight: 300;
  width: max-content;
  position: absolute;
  bottom: 14px;
}
