.container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputs {
  display: flex;
}

.test {
  display: flex;
  align-items: center;
  background-color: var(--white);
}

.line {
  width: 1px;
  height: 40px;
  background-color: var(--grey);
}

.inputContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: calc(100%-20px);
}

.controlContainer {
  width: 100%;
  position: absolute;
}

.inputRange {
  position: absolute;
  width: 100%;
  pointer-events: none;
  appearance: none;
  height: 100%;
  opacity: 0;
  z-index: 3;
  padding: 0;
}

.rail {
  position: absolute;
  width: 100%;
  top: 50%;
  height: 1px;
  background: var(--greyLight);
}

.activeRail {
  position: absolute;
  width: 100%;
  top: 50%;
  height: 1px;
  background: var(--greyDark);
}

.innerRail {
  position: absolute;
  height: 100%;
  background: var(--orange);
}

.inputFiled {
  background-color: var(--greyLight);
  padding: 16px;
  border-radius: 10px;
  width: 100%;
  border: 1px solid transparent;
  font-size: var(--small);
  transition: 0.4s;
}

.firstInput {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.secondInput {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  text-align: end;
}

/* .inputFiled:focus {
  border: 1px solid var(--greyDark);
} */

.control {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  position: absolute;
  background: var(--greyDark);
  top: 50%;
  margin-left: calc(14px / -2);
  transform: translate3d(0, -50%, 0);
  z-index: 2;
}

.inputVerticalLineLeft {
  position: absolute;
  left: 0px;
  top: -5px;
  width: 1px;
  height: 11px;
  background-color: var(--greyDark);
}

.inputVerticalLineRight {
  position: absolute;
  right: 0;
  top: -5px;
  width: 1px;
  height: 11px;
  background-color: var(--greyDark);
}

.textRange {
  font-size: 14px;
  font-weight: 300;
  width: max-content;
  position: absolute;
  bottom: 14px;
}
