.container {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--greyLight);
}

.apartmentsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 16px;
}

.objectContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.apartmentContainer {
  cursor: pointer;
  background-color: var(--white);
  border-radius: 24px;
}

.apartmentContainerSkeleton {
  padding-top: 24px;
  background-color: var(--white);
  border-radius: 24px;
}

.skeletonContent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 32px;
}

.image {
  position: relative;
  object-fit: contain;
  width: 100%;
  height: 200px;
  padding: 12px;
  padding-top: 20px;
}

.textContainer {
  padding: 24px 32px;
}

.price {
  text-decoration: line-through;
  visibility: hidden;
}

.priceVisible {
  visibility: visible;
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 4px;
  margin-bottom: 16px;
}

.discount {
  padding: 4px 10px;
  border-radius: 4px;
  background-color: var(--orangeWhite);
}

.moreButton {
  margin: 0 auto;
  margin-top: 30px;
}

.room {
  margin-bottom: 6px;
}

@media (max-width: 1080px) {
  .apartmentsContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 680px) {
  .apartmentsContainer {
    grid-template-columns: 1fr;
  }
}
