.container {
  display: flex;
  margin-top: 150px;
}

.content {
  display: flex;
  flex: 1;
  gap: 34px;
  flex-direction: column;
  justify-content: space-between;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.listItem {
  display: flex;
  gap: 32px;
  align-items: center;
}

.image {
  width: 1120px;
  height: 829px;
  background-image: url('../../shared/assets/images/fullMap.png');
}
