.black {
  color: var(--black);
  transition: all 0.3s;
}
.white {
  color: var(--white);
  transition: all 0.3s;
}
.whiteLight {
  color: var(--whiteLight);
  transition: all 0.3s;
}
.grey {
  color: var(--grey);
  transition: all 0.3s;
}
.greyLight {
  color: var(--greyLight);
  transition: all 0.3s;
}
.orange {
  color: var(--orange);
  transition: all 0.3s;
}
.brown {
  color: var(--brown);
  transition: all 0.3s;
}
.brownDark {
  color: var(--brownDark);
  transition: all 0.3s;
}

.blackBackground {
  background-color: var(--black);
}
.whiteBackground {
  background-color: var(--white);
}
.whiteLightBackground {
  background-color: var(--whiteLight);
}
.greyBackground {
  background-color: var(--grey);
}
.greyLightBackground {
  background-color: var(--greyLight);
}
.orangeBackground {
  background-color: var(--orange);
}
.brownBackground {
  background-color: var(--brown);
}
.brownDarkBackground {
  background-color: var(--brownDark);
}

.light {
  font-weight: var(--light);
}
.regular {
  font-weight: var(--regular);
}
.medium {
  font-weight: var(--medium);
}
.semiBold {
  font-weight: var(--semiBold);
}
.bold {
  font-weight: var(--bold);
}

.xLarge {
  font-size: var(--xLarge);
}
.large {
  font-size: var(--large);
}
.sLarge {
  font-size: var(--sLarge);
}
.xMedium {
  font-size: var(--xMedium);
}
.sMedium {
  font-size: var(--sMedium);
}
.small {
  font-size: var(--small);
}
.xSmall {
  font-size: var(--xSmall);
}

.container {
  transition: all 0.4s;
  max-width: 1580px;
  width: 100%;
  margin: 0 auto;
}

.textHover:hover {
  color: var(--orange);
  transition: all 0.3s;
}

.uppercase {
  text-transform: uppercase;
}

@media (max-width: 1628px) {
  .container {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 922px) {
  .xLarge {
    font-size: var(--large);
  }
}

@media (max-width: 736px) {
  .xLarge {
    font-size: var(--sLarge);
  }
}

@media (max-width: 564px) {
  .xLarge {
    font-size: var(--xMedium);
  }
}
