.container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.containerRoute {
  display: flex;
  flex-direction: column;
  gap: 46px;
  width: 1059px;
}

.map {
  width: 100%;
  height: 721px;
  position: relative;
}

.routeContainer {
  display: flex;
  gap: 94px;
}

.contactsMapContainer {
  margin-top: 90px;
}

.listContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 46px;
  margin-bottom: 144px;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 16px;
}

.test {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 20px;
  border-radius: 16px;
  background-color: white;
  -webkit-box-shadow: -1px 0px 22px -5px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: -1px 0px 22px -5px rgba(34, 60, 80, 0.2);
  box-shadow: -1px 0px 22px -5px rgba(34, 60, 80, 0.2);
}
