.carouselTitleNavigation {
  display: flex;
  max-width: 1130px;
  width: max-content;
  gap: 60px;
  margin-bottom: 62px;
  margin-left: auto;
  align-items: center;
}

.arrowLeft {
  transform: rotate(180deg);
}

.titleContainer {
  display: flex;
  gap: 140px;
}

.title {
  text-transform: uppercase;
}

.activeButton {
  pointer-events: none;
}
