.carouselTitleNavigation {
  display: flex;
  max-width: 1150px;
  margin-left: auto;
  align-items: center;
  margin-bottom: 42px;
  gap: 16px;
}

.arrowLeft {
  transform: rotate(180deg);
}

.titleWrapper {
  overflow: hidden;
  width: 100%;
  align-items: center;
}

.listContainer {
  display: flex;
  text-align: center;
  flex: 1;
  transition: transform 0.5s ease-out;
}

.buttonListItem {
  width: 100%;
  transition: all 0.4s;
  flex: 1 0 25%;
}

.activeButton {
  pointer-events: none;
}

@media (max-width: 1020px) {
  .buttonListItem {
    flex: 1 0 33.33%;
  }
}

@media (max-width: 736px) {
  .buttonListItem {
    flex: 1 0 50%;
  }
}

@media (max-width: 460px) {
  .buttonListItem {
    flex: 1 0 100%;
  }
}
