.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 390px;
  text-align: center;
}

.title {
  margin-top: 42px;
  min-height: 70px;
  text-transform: uppercase;
}

@media (max-width: 786px) {
  .title {
    margin-top: 12px;
    min-height: auto;
    margin-bottom: 12px;
  }
}
