.wrapper {
  display: flex;
  white-space: nowrap;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  max-height: 700px;
  height: 700px;
  width: 100%;
}

.galleryImage {
  display: flex;
  height: 350px;
  transition: all 0.6s;
}

.galleryImage:hover > .galleryItem {
  opacity: 1;
}

.galleryItem {
  opacity: 0;
  height: 65px;
  width: max-content;
  align-self: flex-end;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;
  padding-right: 20px;
  backdrop-filter: blur(1px);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
  transition: all 0.4s;
}

.firstImage {
  background-image: url('../../../shared/assets/images/park.png');
}

.firstImage:hover {
  height: 420px;
}

.firstImage:hover + .thirdImage {
  height: 280px;
}

.secondImage {
  background-image: url('../../../shared/assets/images/project.png');
}

.secondImage:hover {
  height: 420px;
}

.secondImage:hover + .fourthImage {
  height: 280px;
}

.thirdImage {
  background-image: url('../../../shared/assets/images/home.png');
  bottom: 0;
  width: 50%;
  position: absolute;
}

.thirdImage:hover {
  height: 420px;
}

.thirdImage:hover + .firstImage {
  height: 280px;
}

.fourthImage {
  background-image: url('../../../shared/assets/images/home2.png');
  bottom: 0;
  width: 50%;
  position: absolute;
}

.fourthImage:hover {
  height: 420px;
}

.fourthImage:hover + .secondImage {
  height: 280px;
}
