.wrapper {
  padding-top: 140px;
  padding-bottom: 140px;
  background-color: var(--whiteLight);
}

.listContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, max-content));
  justify-content: end;
  gap: 30px;
}

.title {
  margin-bottom: 80px;
  max-width: 839px;
}

@media (max-width: 1135px) {
  .listContainer {
    grid-template-columns: repeat(auto-fit, 390px);
    justify-content: center;
    grid-template-areas:
      'list1 list2'
      'list3 list3';
  }

  .listContainer > li:nth-child(1) {
    grid-area: list1;
  }
  .listContainer > li:nth-child(2) {
    grid-area: list2;
  }
  .listContainer > li:nth-child(3) {
    grid-area: list3;
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 922px) {
  .xLarge {
    font-size: var(--large);
  }
  .large {
    font-size: var(--sLarge);
  }
}

@media (max-width: 786px) {
  .listContainer {
    grid-template-columns: minmax(100px, 1fr);
    grid-template-areas:
      'list1'
      'list2'
      'list3';
  }
  .listContainer > li:nth-child(1) {
    display: flex;
    justify-content: center;
  }
  .listContainer > li:nth-child(2) {
    display: flex;
    justify-content: center;
  }
}
