.header {
  height: 140px;
}

.headerMargin {
  margin-bottom: 65px;
}

.headerContainer {
  display: flex;
  height: 100%;
  align-items: center;
}

.left {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 160px;
}

.logo {
  height: 130px;
}

.right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
}
