.header {
  margin-top: 10px;
}

.headerMargin {
  margin-bottom: 65px;
}

.headerContainer {
  display: flex;
  height: 100%;
  align-items: center;
}

.left {
  align-items: center;
  display: flex;
  flex: 1;
  gap: 100px;
  justify-content: space-between;
}

.logo {
  height: 130px;
  width: 368px;
}

.right {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
  gap: 50px;
}

@media (max-width: 1020px) {
  .left {
    gap: 70px;
  }
}

@media (max-width: 960px) {
  .contactButton {
    display: none;
  }
}

@media (max-width: 720px) {
  .dropdown {
    display: none;
  }
}

@media (max-width: 500px) {
  .logo {
    height: 66px;
    width: 200px;
  }
}
