.main {
  position: relative;
  margin-bottom: 150px;
  align-items: center;
  justify-items: center;
  height: 830px;
}

.backgroundImage {
  transition: all 0.4s;
  background-image: url('../../shared/assets/images/main.png');
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 1253px;
  height: 830px;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  padding-right: 0;
  padding-left: 0;
}

.backgroundBlur {
  transition: all 0.4s;
  width: 100%;
  max-width: 1186px;
  margin-left: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 80px;
  backdrop-filter: blur(4px);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.5)
  );
}

.bottomContainer {
  display: flex;
  flex-direction: column;
  max-width: 620px;
  margin-right: 120px;
  gap: 46px;
}

.description {
  line-height: 24px;
}

.mainTitle {
  margin-bottom: 50px;
}

@media (max-width: 1628px) {
  .backgroundBlur {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 1060px) {
  .backgroundBlur {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .backgroundImage {
    right: auto;
    left: -220px;
  }
  .mainTitle {
    margin-bottom: 30px;
  }

  .bottomContainer {
    gap: 30px;
  }
}

@media (max-width: 736px) {
  .bottomContainer {
    margin-right: 30px;
  }

  .backgroundImage {
    left: -240px;
  }
}

@media (max-width: 564px) {
  .main {
    height: 700px;
  }

  .backgroundImage {
    height: 700px;
  }

  .bottomContainer {
    margin-right: 0;
  }

  .textTransfer {
    word-break: break-all;
  }
}
