.container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.inputRangeFilterWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.lastContentTitle {
  text-align: end;
}

.contentItem {
  width: 376px;
}

.lastContentItem {
  width: 340px;
}
