.black {
  color: var(--black);
}
.white {
  color: var(--white);
}
.whiteLight {
  color: var(--whiteLight);
}
.grey {
  color: var(--grey);
}
.greyLight {
  color: var(--greyLight);
}
.orange {
  color: var(--orange);
}
.brown {
  color: var(--brown);
}
.brownDark {
  color: var(--brownDark);
}

.blackBackground {
  background-color: var(--black);
}
.whiteBackground {
  background-color: var(--white);
}
.whiteLightBackground {
  background-color: var(--whiteLight);
}
.greyBackground {
  background-color: var(--grey);
}
.greyLightBackground {
  background-color: var(--greyLight);
}
.orangeBackground {
  background-color: var(--orange);
}
.brownBackground {
  background-color: var(--brown);
}
.brownDarkBackground {
  background-color: var(--brownDark);
}

.regular {
  font-weight: var(--regular);
}
.medium {
  font-weight: var(--medium);
}
.semiBold {
  font-weight: var(--semiBold);
}
.bold {
  font-weight: var(--bold);
}

.xLarge {
  font-size: var(--xLarge);
}
.large {
  font-size: var(--large);
}
.medium {
  font-size: var(--medium);
}
.small {
  font-size: var(--small);
}
.xSmall {
  font-size: var(--xSmall);
}

.container {
  max-width: 1580px;
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  margin: 0 auto;
}