.backgroundContainer {
  display: flex;
  background-color: var(--brown);
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 30px;
  row-gap: 24px;
  align-items: center;
  width: 100%;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 24px;
  margin-right: 24px;
}

.text {
  line-height: 35px;
  text-transform: uppercase;
}

.buttonText {
  margin-right: 24px;
}

.divider {
  border-bottom: 1px solid var(--white);
}

.input {
  color: var(--white);
}

@media (max-width: 736px) {
  .container {
    grid-template-columns: 1fr;
    margin-top: 46px;
    margin-bottom: 36px;
  }
  .buttonSubmit:last-child {
    justify-self: end;
  }
}

@media (max-width: 564px) {
  .container {
    margin-top: 36px;
    margin-bottom: 26px;
    row-gap: 16px;
  }
  .text {
    line-height: 30px;
  }
}
