.container {
  width: 397px;
  margin-top: 22px;
  transition: all 0.4s;
}

.selectedItem {
  margin-top: 0;
  transition: all 0.4s;
}

.homeInfo {
  margin-top: 8px;
  margin-bottom: 22px;
}

.textContainer {
  margin-top: 32px;
  transition: all 0.4s;
}

.selectedTextContainer {
  margin-top: 14px;
  margin-left: 12px;
  transition: all 0.4s;
}
