.container {
  width: 100%;
  margin-top: 22px;
  transition: all 0.4s;
  flex: 1 0 25%;
  scroll-snap-align: start;
}

.image {
  position: relative;
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.selectedItem {
  margin-top: 0;
  transition: all 0.4s;
}

.homeInfo {
  margin-top: 8px;
  margin-bottom: 22px;
}

.textContainer {
  margin-top: 32px;
  transition: all 0.4s;
}

.selectedTextContainer {
  margin-top: 14px;
  margin-left: 12px;
  transition: all 0.4s;
}

@media (max-width: 1240px) {
  .container {
    flex: 1 0 33.33%;
  }
}

@media (max-width: 922px) {
  .container {
    flex: 1 0 50%;
  }
}

@media (max-width: 720px) {
  .container {
    flex: 1 0 100%;
  }
}
