.button {
  display: flex;
  align-items: center;
  width: max-content;
}

.backgroundButton {
  min-height: 78px;
  min-width: 78px;
  border-radius: 50%;
}

.text {
  width: max-content;
  margin-left: -40px;
  margin-right: 10px;
}
