.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.field {
  transition: all 0.4s;
  width: 100%;
  gap: 6px;
  border-radius: 12px;
  background-color: var(--greyLight);
}

.input {
  font-size: 16px;
  background-color: transparent;
  padding: 14px 18px;
}

.input::placeholder {
  color: var(--grey);
}

@media (max-width: 500px) {
  .field {
    background-color: var(--white);
  }
}
