.container {
  margin-top: 44px;
}

.content1 {
  background-image: url('../../shared/assets/images/bigBuilder.png');
  height: 755px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
}

.content2 {
  background-image: url('../../shared/assets/images/buildingLayout.png');
  height: 755px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
}

.content3 {
  background-image: url('../../shared/assets/images/apartments.png');
  height: 755px;
  width: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 90px;
}

.apartmentCardContainer {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 40px;
}

.apartmentCard {
  /* display: grid;
  grid-template-columns: 1fr minmax(300px, 384px);
  column-gap: 30px;
  width: 100%; */
}

.button {
  margin-bottom: 70px;
}
