.container {
  display: flex;
  gap: 34px;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 400px;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 44px;
}

.navigationContainer {
  display: flex;
  align-items: center;
  margin-bottom: 90px;
  gap: 12px;
}

.image {
  display: flex;
  height: 444px;
  width: 100%;
  max-width: 770px;
  position: relative;
  object-fit: cover;
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--greyLight);
  transition: all 0.4s;
}
.circleActive {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--brown);
  transition: all 0.4s;
}

.circle:hover {
  background-color: var(--grey);
}

.arrowLeft {
  transform: rotate(180deg);
  margin-right: 6px;
}

.arrowRight {
  margin-left: 6px;
}

.title {
  max-width: 300px;
}

.description {
  max-width: 400px;
}

@media (max-width: 880px) {
  .container {
    gap: 24px;
  }
  .contentContainer {
    min-width: 330px;
  }
}

@media (max-width: 736px) {
  .contentContainer {
    min-width: 280px;
  }
}

@media (max-width: 660px) {
  .container {
    flex-direction: column;
  }
  .contentContainer {
    gap: 24px;
  }
  .textContainer {
    gap: 16px;
  }
  .title {
    max-width: 100%;
  }
  .description {
    max-width: 100%;
  }
  .image {
    height: 360px;
  }
}
