.container {
  display: flex;
  gap: 25px;
}

.rightContent {
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.listContainer {
  display: flex;
  flex-direction: column;
  gap: 36px;
  flex: 1;
}

.buttonsContainer {
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin-bottom: 50px;
}

.listItem {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.listValueText {
  width: 44%;
}
