.container {
  max-width: 1000px;
  width: 100%;
}

.title {
  line-height: 35px;
  text-transform: uppercase;
}

.fieldsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 90.5px;
  row-gap: 36px;
  margin-top: 50px;
  transition: all 0.4s;
}

@media (max-width: 922px) {
  .fieldsContainer {
    justify-content:flex-start;
  }
  .formButton {
    margin-left: auto;
  }
}

@media (max-width: 680px) {
  .fieldsContainer {
    justify-content:flex-start;
    column-gap: 40px;
  }
}

@media (max-width: 400px) {
  .inputField {
    transition: all 0.4s;
    width: 400px !important;
  }
}

