.container {
  margin-top: 96px;
}

.title {
  text-align: end;
  margin-bottom: 50px;
}

.substrateButtonContainer {
  width: 1352px;
  padding-left: 187px;
  padding-right: 40px;
}

.galleryWrapper {
  display: flex;
  width: 100%;
}

.galleryContainer {
  width: 100%;
  height: 100%;
}

.galleryImage1 {
  background-image: url('../../shared/assets/images/livingRoom.png');
  height: 446px;
  width: 100%;
  display: flex;
}

.galleryImage2 {
  background-image: url('../../shared/assets/images/street.png');
  height: 234px;
  width: 100%;
  display: flex;
}

.galleryImage3 {
  background-image: url('../../shared/assets/images/kitchen.png');
  height: 312px;
  width: 100%;
  display: flex;
}

.galleryImage4 {
  background-image: url('../../shared/assets/images/bedroom.png');
  height: 368px;
  width: 100%;
  display: flex;
}

.galleryText {
  align-self: flex-end;
  display: flex;
  width: 255px;
  height: max-content;
  padding: 20px;
  backdrop-filter: blur(1px);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0.5)
  );
}
