.container {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  gap: 60px;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
}

.textWrapper {
  display: grid;
  grid-template-columns: minmax(220px, 0.9fr) 1fr 1fr;
  row-gap: 50px;
  column-gap: 20px;
  padding: 50px;
  background-color: var(--whiteLight);
}

.textContainer {
  display: grid;
  row-gap: 20px;
}

.text {
  white-space: nowrap;
}

.textContainer:nth-child(2) {
  justify-self: center;
  margin-right: 18px;
}

.textContainer:nth-child(3) {
  justify-self: end;
}

.value {
  font-size: 36px;
}

.public {
  margin-top: -30px;
  margin-left: auto;
  text-align: right;
}

@media (max-width: 980px) {
  .textWrapper {
    grid-template-columns: 1fr 1fr;
    row-gap: 24px;
    padding: 30px;
    grid-template-areas:
      'item1 item2'
      'item3 item3';
  }
  .textContainer:nth-child(2) {
    justify-self: end;
    margin-right: 0;
  }

  .textContainer:nth-child(3) {
    justify-self: start;
    grid-area: item3;
  }
  .textContainer {
    gap: 8px;
  }
}

@media (max-width: 936px) {
  .container {
    gap: 50px;
  }
}

@media (max-width: 786px) {
  .inputContainer {
    flex-direction: column;
  }
}

@media (max-width: 736px) {
  .value {
    font-size: 30px;
  }
}

@media (max-width: 608px) {
  .textWrapper {
    grid-template-columns: 1fr;
    row-gap: 10px;
    grid-template-areas:
      'item1'
      'item2'
      'item3';
  }
  .textContainer:nth-child(2) {
    justify-self: start;
    margin-right: 0;
  }
  .text {
    white-space: wrap;
  }
  .textContainer {
    width: 100%;
    align-items: center;
    grid-template-columns: 1fr 122px;
  }
}

@media (max-width: 564px) {
  .value {
    font-size: 26px;
  }
  .textContainer {
    width: 100%;
    align-items: center;
    gap: 16px;
    grid-template-columns: 1fr 140px;
  }
}

@media (max-width: 440px) {
  .textContainer {
    gap: 8px;
    grid-template-columns: 1fr;
  }
  .textWrapper {
    row-gap: 20px;
  }
}
