.container {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  gap: 60px;
}

.inputContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
}

.textWrapper {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 70px;
  background-color: var(--whiteLight);
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  min-width: 240px;
}

.text {
  text-transform: uppercase;
}

.value {
  font-size: 36px;
}

.public {
  margin-top: -30px;
  margin-left: auto;
}
