.container {
  margin-bottom: 220px;
}

.contentContainer {
  margin-top: 62px;
  gap: 30px;
  display: flex;
}

.leftContent {
  max-width: 789px;
}

.listContainer {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-left: 25px;
  gap: 34px;
}

.circle {
  position: absolute;
  z-index: -1;
  top: 8px;
  left: -25px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: var(--whiteLight);
}

.listItem {
  position: relative;
  display: flex;
  align-items: center;
  gap: 34px;
}

.image {
  transition: all 0.4s;
  position: relative;
  object-fit: cover;
  height: 597px;
  width: 100%;
  max-width: 789px;
  min-width: 700px;
}

@media (max-width: 1220px) {
  .contentContainer {
    gap: 16px;
  }
  .leftContent {
    min-width: 440px;
  }
  .image {
    min-width: 500px;
  }
}

@media (max-width: 1010px) {
  .contentContainer {
    flex-direction: column;
    gap: 40px;
  }
  .leftContent {
    max-width: 100%;
    min-width: 100%;
  }
  .listContainer {
    margin-top: 40px;
  }
  .image {
    height: 500px;
    max-width: 100%;
    min-width: 100%;
  }
}

@media (max-width: 420px) {
  .listItem {
    flex-direction: column;
    align-items: start;
    gap: 24px;
  }
}
