.galleryOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: visible;
  transition: all 0.4s;
}

.galleryOverlayClosed {
  visibility: hidden;
  background-color: transparent;
}

.galleryContent {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 90%;
  transition: all 0.3s;
  opacity: 1;
}

.galleryContentClosed {
  opacity: 0;
}

.galleryImage {
  height: 90%;
  width: auto;
  object-fit: contain;
}

.closeButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: 32px;
  right: 32px;
  background: var(--greyLight);
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.navButton {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  height: 30px;
  width: 30px;
  background: var(--greyLight);
  cursor: pointer;
  z-index: 100;
}

.prev {
  left: 32px;
  transform: rotate(180deg);
}

.next {
  right: 32px;
}
