.container1 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.container2 {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--greyLight);
}

.about {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
  border-radius: 24px;
  background-color: var(--greyLight);
  margin-bottom: 20px;
}
