.container {
  margin-bottom: 54px;
}

.description {
  margin-top: 60px;
  margin-bottom: 40px;
}

.listContainer {
  display: flex;
  justify-content: flex-end;
  gap: 30px;
}

.substrateButtonBackground {
  max-width: 1200px;
}

.substrateButtonContent {
  max-width: 920px;
}
