.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 390px;
  text-align: center;
}

.title {
  margin-top: 42px;
  height: 70px;
  text-transform: uppercase;
}
